@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
  
  --color-brand: #fdbe21;
  --color-brand-hover: #e5ab19;
  --color-brand-light: #fff2cc;
}

body {
  font-family: var(--font-sans);
  background-color: #000000;
  color: #ffffff;
}
